# SupportAI Environment Variables

# AI Configuration
AI_API_KEY=
AI_BASE_URL=https://api.openai.com/v1
AI_MODEL=gpt-4o


# Database
DATABASE_URL=postgresql://postgres:990mdrabbi990@db.ffordulhkvkvtxmvsehe.supabase.co:5432/postgres

# Auth
JWT_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
DEMO_MODE=true
APP_SECRET=CHANGE_THIS_TO_ANOTHER_LONG_RANDOM_SECRET
